.sign-up,
.log-in {
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-height: 100dvh;
}

.sign-up__image-container,
.sign-up__form-container,
.log-in__image-container,
.log-in__form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 50%;
}

.sign-up__image-container,
.log-in__image-container {
    background-color: var(--primary-color);
    padding-inline: 80px;
}

.sign-up__form-container,
.log-in__form-container {
    display: flex;
    flex-flow: column;
    gap: 48px;
    justify-content: center;
    align-items: flex-start;
    padding-inline: 80px;
}

.sign-up__image-container__image img,
.log-in__image-container__image img {
    width: 100%;
}

.sign-up__form-container .form,
.log-in__form-container .form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    gap: 24px;
}

@media (max-width: 1024px) {
    .sign-up,
    .log-in {
        flex-flow: column;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 36px;
    }

    .sign-up__image-container,
    .sign-up__form-container,
    .log-in__image-container,
    .log-in__form-container {
        padding: 48px 24px;
    }

    .sign-up__form-container,
    .log-in__form-container {
        justify-content: flex-start;
    }

    .sign-up__image-container,
    .log-in__image-container {
        max-height: 100px;
    }

    .sign-up__image-container__image img,
    .log-in__image-container__image img {
        max-width: 300px;
    }
}
