body {
    font-family: Nunito sans, sans-serif, verdana;
    color: var(--black-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: Poppins, sans-serif, verdana;
}

h1 {
    font-size: 42px;
    line-height: 1.1;
    font-weight: 700;
    color: var(--black-color);
}

a {
    font-size: 14px;
    line-height: 1.4;
    text-decoration: none;
    color: var(--primary-color);
    transition: color var(--transition) ease-in-out;
}

a:hover {
    color: var(--primary-600);
}

p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}
