:root {
    --primary-color: #9191ff;
    --primary-100: #dfe0ff;
    --primary-400: #877dfc;
    --primary-600: #6741ea;
    --primary-950: #26194D;
    --secondary-color: #60bf96;
    --secondary-600: #1e7d5a;
    --black-color: #21272a;
    --white-color: #ffff;
    --white-accent-color: #FBFBFF;
    --gray-light: #f2f4f8;
    --gray-medium: #c1c7cd;
    --transition: 250ms;
}
